@charset "UTF-8";

/* ページ全体
------------------------------------------------------ */
body {
	background-color: #ffffff;
	line-height: 30px;
	text-align: center;
	width: 1010px;
	margin: 0px auto;
}
a:link {
    color: #004040;
}
a:visited {
    color: #008040;
}
a:hover {
    color: #808080;
}

/* メインコンテンツ
------------------------------------------------------ */
.userlist {
	display: inline-block;
	width: 300px;
	height: 230px;
	margin:20px;
	padding:10px;

	border: solid 3px #808080;
	background-color: #ffefd5;
}
.button {
	line-height: 10px;
}
.errorMessages {
	width: 500px;
	border: solid 3px #ff8000;
	background-color: #ffffff;
	color: red;
}

/* ヘッダー・フッター
------------------------------------------------------ */
#header {
	text-align: left;
	height: 50px;
	padding-top:10px;
	padding-left: 50px;
	background-color: #dcdcdc

}
.footer {
	clear: both;
	background-color: #89c7de;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}