@charset "UTF-8";

/* ページ全体
------------------------------------------------------ */
body {
	background-color: #ffffff;
	line-height: 30px;
	width: 1010px;
	margin: 0px auto;
}
a:link {
    color: #004040;
}
a:visited {
    color: #008040;
}
a:hover {
    color: #808080;
}

/* 投稿フォーム
------------------------------------------------------ */
.main-contents {
	min-height: 100vh;
	position: relative;
}
.errorMessages {
	width: 500px;
	margin: 20px;
	border: solid 3px #ff8000;
	background-color: #ffffff;
	color: red;
}

/* ヘッダー・フッター
------------------------------------------------------ */
#header {
	height: 50px;
	padding-top:10px;
	padding-left: 50px;
	background-color: #dcdcdc
}
#footer{
    width: 100%;
    background-color: #89c7de;
    color: #fff;
    text-align: center;
    padding: 20px 0;

    position: absolute;
    bottom: 0;
}
