@charset "UTF-8";

/* 初期設定
------------------------------------------------------ */
body {
	background-color: #ffffff;
	line-height: 25px;
	font-family: Meiryo,HiraMinProN-W6;
}
a:link {
    color: #004040;
}
a:visited {
    color: #008040;
}
a:hover {
    color: #808080;
}


/* ページの枠組み
------------------------------------------------------ */
#wrap {
	width: 1010px;
	margin: 0px auto;
}

#sidenavi {
	float: left;
	width: 208px;
	border: dashed 1px #999;
	padding: 10px;
	margin: 10px 10px 10px 0px;
	background-color: #ffebcd;
}

#userMessages {
	float: left;
	width: 748px;
	background: #b0e0e6;
	border: dashed 1px #b0e0e6;
	padding: 10px;
	margin: 10px 0px 10px 0px;
}

#footer {
	clear: both;
	background-color: #89c7de;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

/* ヘッダー
------------------------------------------------------ */
#header {
	background-color: #dcdcdc;
	border: solid 1px #ffffff;
	height: 50px;
	padding-top:10px;
	padding-left: 50px;
}

/* メインコンテンツ
------------------------------------------------------ */
.errorMessages {
	width: 500px;
	border: solid 3px #ff8000;
	background-color: #ffffff;
	color: red;
}
.message {
	border-bottom: dashed 1px;
	margin: 10px;
}
.text {
	margin: 10px 20px 20px 20px;
	padding: 5px;
	border: solid 1px;
	background-color: #ffe4b5;
}
.comment {
	margin: 10px;
	border-bottom-style: solid;
	border-bottom: solid 1px;
}
.commentSubmit {
	margin: 10px;
	font-size: 13px;
	border-bottom-style: solid;
}
.name {
	color: #191970;
}
.date {
	font-size: 12px;
	position: relative;
	right: -500px;
}
.deleteComment, .deleteMessage {
	position: relative;
	right: -670px;
	margin-bottom: 10px;
}

.popup_help {
  padding: 0 3px;
  color: #66f;
  font-weight: bold;
  cursor: pointer;
}
.popup_help_window {
  max-width: 300px;
  position: absolute;
  padding: 6px 15px;
  background-color: #fff;
  border: 5px double #ccc;
  display: none;
  color: #63f;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5em;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #ccc;
}
.pagetop {
	position: relative;
	right: -670px;
	color: green;
}